<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="css/login.css">
        <script type="text/javascript">
            function CheckColors(val){
             var element=document.getElementsByClassName('new');
             if(val=='pick a color'||val=='others')
                for(var i = 0; i < element.length; i++)
                {
                    element[i].style.display='inline-block';
                }
             else
             {
                for(var i = 0; i < element.length; i++)
                {
                    element[i].style.display='none';
                }
             }
            }
            
        </script> 
    </head>

    <body>
        <div id="header"> 
            <h1>E-Commerce Store</h1>
        </div>
        <section id="addListing">
            <div id="formContent">
                <h1>Create a new listing</h1>
                <% if (warning != null)
                {
                    %>
                    <h2 class="warning"><%= warning %></h2>
                    <%
                }
                    %>
                <form method="post" action="/createBook">

                    <select name = "isbn" onchange="CheckColors(this.value);">
                        <option value="0">Select a book to add</option>
                        <option value="others">New Book</option>
                        <option value="316015849">Twilight</option>
                        <option value="375826688">Eragon</option>
                        <option value="439023521">The Hunger Games</option>
                        <option value="439708184">Harry Potter and the Sorcerer's Stone</option>
                        <option value="618260307">The Hobbit</option>
                        <option value="756966035">The Lightning Thief</option>
                        <option value="901720313">Watership Down</option>
                        <option value="1420961357">Heidi</option>
                        <option value="1540041840">The Bridges of Madision County</option>
                    </select>
                    <input type="text" name="new_name" class="new" placeholder="Book Name*" style='display:none;'/>
                    <input type="text" name="new_isbn" class="new" placeholder="Isbn*" style='display:none;'/>
                    <input type="text" name="price" placeholder="Price" required="required"> <br />
                    <a href="seller">Go back</a><br />
                    <input type="submit" name="submit" value="Add Book">
                </form>
            </div>
        </section>
    </body>
</html>