<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="css/login.css">
        <script type="text/javascript">
            function CheckColors(val){
             var element=document.getElementsByClassName('new');
             if(val=='-1')
                for(var i = 0; i < element.length; i++)
                {
                    element[i].style.display='inline-block';
                    element[i].required = true;
                }
             else
             {
                for(var i = 0; i < element.length; i++)
                {
                    element[i].style.display='none';
                    element[i].removeAttribute("required");
                }
             }
            }
            
        </script> 
    </head>

    <body>
        <div id="header"> 
            <h1>E-Commerce Store</h1>
        </div>
        <section id="addListing">
            <div id="formContent">
                <h1>Create a new listing</h1>
                <% if (warning != null)
                {
                    %>
                    <h2 class="warning"><%= warning %></h2>
                    <%
                }
                    %>
                <form method="post" action="/createBook" enctype="multipart/form-data">

                    <select name = "isbn" onchange="CheckColors(this.value);">
                        <option value="0">Select a book to add</option>
                        <option value="-1">New Book</option>

                        <%
                        books.forEach(function(book)
                        {
                        %>
                            <option value="<%= book.isbn %>"><%= book.title %></option>
                        <%
                        })
                        %>
                    </select>
                    <input type="text" name="new_name" class="new" placeholder="Book Name*" style='display:none;'/>
                    <input type="text" name="new_isbn" class="new" placeholder="Isbn*" style='display:none;'/>
                    <input type="text" name="new_category" class="new" placeholder="Category*" style='display:none;'/>
                    <input type="text" name="new_author" class="new" placeholder="Author*" style='display:none;'/>
                    <p class="new" style='display:none;'>Image*:<br /></p><input type="file" name="file" class="new" style='display:none;'/>
                    <input type="text" name="price" placeholder="Price" required="required"> <br />
                    <a href="seller">Go back</a><br />
                    <input type="submit" name="submit" value="Add Book">
                </form>
            </div>
        </section>
    </body>
</html> 